:root {
  --color-square: #000000;
  --square-number: 16;
  --font-color: #549ee2;
}

.title {
  text-align: center;
  font-family: "Ultra", serif;
  font-size: 4em;
  color: var(--font-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 12rem;
  background: rgba(72, 144, 209, 0.11);
  border-radius: 3px;
  margin-right: 5rem;
}

.controllers {
  display: flex;
  flex-direction: column;
}

.controller {
  width: 100%;
  margin-bottom: 1rem;
}

.color-choser {
  margin-bottom: 1rem;
  border: none;
  height: 3rem;
  background-color: #549ee2;
  cursor: pointer;
  border-radius: 5px;
}

.btn {
  border: 2px solid #549ee2;
  border-radius: 5px;
  padding: 0.3rem 0;
  background: rgba(72, 144, 209, 0.11);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  color: var(--font-color);
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 11px 10px rgba(33, 133, 226, 0.25);
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-size-number {
  font-size: 1rem;
  line-height: 0rem;
  font-family: "Ultra", serif;
  color: var(--font-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--square-number), 1fr);
  grid-template-rows: repeat(var(--square-number), 1fr);
  box-shadow: 0px 0px 11px 2px rgba(84, 158, 226, 0.25);
  width: 500px;
  height: 500px;
}

.square {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
}

.square:hover {
  /* set to important to prevent inline style from overriding */
  background-color: black !important;
}
