.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.square {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
}

.square-color {
  background-color: black;
}

.square-color-hover {
  background-color: black;
}

.btn {
  padding: 1rem;
  border: none;
}
