:root {
  --color-square: #000000;
  --square-number: 16;
  --font-color: #549ee2;
}

.wrapper-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 12rem;
  background: rgba(72, 144, 209, 0.11);
  border-radius: 3px;
  margin-right: 5rem;
}

.title {
  text-align: center;
  font-family: "Ultra", serif;
  font-size: 4em;
  color: var(--font-color);
}

.grid-number {
  font-size: 1rem;
  line-height: 0rem;
  font-family: "Ultra", serif;
}

.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--square-number), 1fr);
  grid-template-rows: repeat(var(--square-number), 1fr);
  box-shadow: 0px 0px 11px 2px rgba(84, 158, 226, 0.25);
  width: 500px;
  height: auto;
}

.square {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
}

.square-color {
  background-color: var(--color-square);
}

.square-color-hover {
  background-color: var(--color-square);
}

.btn {
  padding: 1rem;
  border: none;
}
